<ion-view title="Rotten Tomatoes">
<ion-content>
        <div class="list">
            <label class="item item-input">
                <span class="input-label">Start typing </span>
                <input type="text" placeholder="Bond, 2012, nolan,...." ng-model="
   moviesCtrl.searchString">
            </label>

            <label class="item item-input">
                <button class="button button-block" ng-click="moviesCtrl.getMovies(searchString)" ui-sref="home.movies">Search</button>
            </label>
        </div>

        <ion-nav-view>
        </ion-nav-view>
 </ion-content>
</ion-view>